<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Icon Matcher Game</title>

    <script src="Assets/libraries/jquery/jquery-1.11.3.js"></script>
    <link href="Assets/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="Assets/libraries/icons/styles.css" rel="stylesheet" />


    <!--Angular-->
    <script src="Assets/libraries/angular/angular.js"></script>
    <!--Angular-->
    <!--BaseApp-->
    <script src="app/baseApp.js"></script>
    <!--BaseApp-->
    <!--ClickIcon-->
    <script src="app/events/click-icon-module.js"></script>
    <script src="app/events/click-icon-controller.js"></script>
    <!--ClickIcon-->

</head>
<body ng-app="baseApp">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="game-shell" ng-controller="ClickIconCtrl as CIC">
                    <!--{{CIC.ExampleText}}-->
                    <!--use to active class - icon-item-opened-->

                    <ul class="icon-item-group">
                        <li ng-click="CIC.SetClick('a','icon-heart',0)" class="icon-item"> <span data-icon="a" class="icon-heart"></span> </li>
                        <li ng-click="CIC.SetClick('b','icon-clock',1)" class="icon-item"> <span data-icon="b" class="icon-clock"></span> </li>
                        <li ng-click="CIC.SetClick('c','icon-truck',2)" class="icon-item"> <span data-icon="c" class="icon-truck"></span> </li>
                        <li ng-click="CIC.SetClick('d','icon-music',3)" class="icon-item"> <span data-icon="d" class="icon-music"></span> </li>
                        <li ng-click="CIC.SetClick('e','icon-money',4)" class="icon-item"> <span data-icon="e" class="icon-money"></span> </li>
                        <li ng-click="CIC.SetClick('f','icon-star',5)" class="icon-item"> <span data-icon="f" class="icon-star"></span> </li>
                        <li ng-click="CIC.SetClick('g','icon-paperplane',6)" class="icon-item"> <span data-icon="g" class="icon-paperplane"></span> </li>
                        <li ng-click="CIC.SetClick('h','icon-fire',7)" class="icon-item"> <span data-icon="h" class="icon-fire"></span> </li>
                        <li ng-click="CIC.SetClick('a','icon-heart',8)" class="icon-item"> <span data-icon="a" class="icon-heart"></span> </li>
                        <li ng-click="CIC.SetClick('b','icon-clock',9)" class="icon-item"> <span data-icon="b" class="icon-clock"></span> </li>
                        <li ng-click="CIC.SetClick('c','icon-truck',10)" class="icon-item"> <span data-icon="c" class="icon-truck"></span> </li>
                        <li ng-click="CIC.SetClick('d','icon-music',11)" class="icon-item"> <span data-icon="d" class="icon-music"></span> </li>
                        <li ng-click="CIC.SetClick('e','icon-money',12)" class="icon-item"> <span data-icon="e" class="icon-money"></span> </li>
                        <li ng-click="CIC.SetClick('f','icon-star',13)" class="icon-item"> <span data-icon="f" class="icon-star"></span> </li>
                        <li ng-click="CIC.SetClick('g','icon-paperplane',14)" class="icon-item"> <span data-icon="g" class="icon-paperplane"></span> </li>
                        <li ng-click="CIC.SetClick('h','icon-fire',15)" class="icon-item"> <span data-icon="h" class="icon-fire"></span> </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>



</body>
</html>
